<%= image_tag "grade_card_a.png" if target.current_grade == "A"%>
<%= image_tag "grade_card_b.png" if target.current_grade == "B"%>
<%= image_tag "grade_card_c.png" if target.current_grade == "C"%>
<%= image_tag "grade_card_gp.png" if target.current_grade == nil %></p>


<!-- Need to move this partial to shared folder -->