<div style='width: 800px;'>
  <div id="map" style='width: 1100px; height: 600px;'></div>
  <script type = "text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {
  		center : {lat: 40.8502883, lng: -73.8786113},
  		zoom : 50,
  		disableDefaultUI : true
  }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.map.centerOn({lat: 40.8502883, lng: -73.8786113});
  });
  </script>
</div>