// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant_container {
	width: 90%;
	margin: 0 auto;
	padding-top: 2.5%;
}
.restaurant {
	float: left;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 70%;
	border-radius: 5px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.95);

	#current_grade {
		/*position: absolute;*/
		/*background-color: orange;*/
		float: left;
		width: 10%;
		img {
			width: 145px;
			height: 145px;	
		}
	}
	#restaurant_details {
		float: right;
		margin-right: 35%;
		#information {
			/*background-color: orange;*/
			h1 {
				font-family: 'Open Sans', sans-serif;
				font-size: 2.25em;
			}

			h5 {
				font-family: 'Open Sans', cursive;
				font-size: 1em;
				padding-top: 0.5%;
			}
		}

		#violations {
			/*background-color: orange;*/
			text-align: center;
			h3 {
				text-align: center;
			}
		}

		#last_inspection_date {
			/*background-color: orange;*/
		}
	}
}

.right_side {
	width: 25%;
	float: right;
	font-family: 'Open Sans', sans-serif;
	color: white;

	h3 {
		text-align: center;
	}

	table {

		tr {
			width: 100%;
			height: 30px;
		}

		td {
		}

		#nearby_grade {
			padding-left: 20%;
		}
	}
}


#search {
	width: 40%;
	border-radius: 1px solid #e2e3e4;
	height: 30px;
	margin-left: 25%;
	margin-top: 10px;
	border-radius: 5px;
}

.search {
	.search_button {
		border-radius: 5px;
		height: 30px;
		width: 125px;
		background-color: #e9b654;
		color:white;	
		font-size: 14px;
		border: 0;
	}
}

@media (max-width: 600px) {
	.map_and_search {
		margin: 0 auto;

		#search {
			width: 90%;
			margin: 0 auto;
			margin-left: 5%;
			margin-top: 5px;
		}

		.search_button {
			display: block;
			margin: 0 auto;
			margin-top: 5px;
		}	
	}
}

.googft-info-window {
	font-family: 'Open Sans', sans-serif;
	overflow-y: auto;

	a:link {
		color: #e9b654;
	}

	a:visited {
		color: #e9b654;
	}
}

