// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#restaurant_info_window {
	font-family: Georgia;
	font-size: 16pt;
	width:200px;
	height:50px;
	background: #FF0000;
}
