// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Favorites List*/
.my_favorites {
	position: relative;

	li {
		float: left;
		width: 300px;
		height: 300px;
		display: inline-block;
		border: 1px solid black;
		margin: 5px;

		#current_grade {
			background-color: yellow;

			img {
				display:block;
				max-height: 100%;
				width: 100px;
				height: 100px;
				margin: 0 auto;
			}
		}

		#restaurant_name {
			top: 0;
			text-align: center;
			background-color: blue;
			max-width: 100%;
		}

		#button_centered {

		}


	}
}