---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?location=Manhattan&term=GRAMERCY%20TAVERN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8d5rzOY2qOHt1lJbWZMb-A", oauth_nonce="e0edd8be4cbbf7d99db21000bdce9b66",
        oauth_signature="fucAVeMKMfjwyPVYFHLgx5zDpuo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408300268", oauth_token="eM7bh_NVDqxXSkjR4LVlsxwqMECMiAU3",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web26-r5-sfo2, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - extlb2-r5-sfo2
      - lb1
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.099401169999993044, "longitude_delta":
        0.058165359999975408}, "center": {"latitude": 40.728320650000001, "longitude":
        -73.981249800000001}}, "total": 94, "businesses": [{"is_claimed": true, "rating":
        4.5, "mobile_url": "http://m.yelp.com/biz/gramercy-tavern-new-york", "rating_img_url":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 1433, "name": "Gramercy Tavern", "snippet_image_url": "http://s3-media4.fl.yelpcdn.com/photo/yFUKeS--E8CkErS-1dryoQ/ms.jpg",
        "rating_img_url_small": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/gramercy-tavern-new-york", "menu_date_updated":
        1387612529, "phone": "2124770777", "snippet_text": "Pretty expensive, but
        worth it. Little bit of an older crowd, but worth it. \n\nI''ve only eaten
        in The tavern area with colleagues, so haven''t tried the fixed...", "image_url":
        "http://s3-media4.fl.yelpcdn.com/bphoto/uLlperMb2Pp6xGouWw0ccQ/ms.jpg", "categories":
        [["American (New)", "newamerican"]], "display_phone": "+1-212-477-0777", "rating_img_url_large":
        "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "menu_provider": "single_platform", "id": "gramercy-tavern-new-york", "is_closed":
        false, "location": {"cross_streets": "Broadway \u0026 S Park Ave", "city":
        "New York", "display_address": ["42 E 20th St", "Flatiron", "New York, NY
        10003"], "geo_accuracy": 9, "neighborhoods": ["Flatiron"], "postal_code":
        "10003", "country_code": "US", "address": ["42 E 20th St"], "coordinate":
        {"latitude": 40.738526999999998, "longitude": -73.988416999999998}, "state_code":
        "NY"}}, {"is_claimed": true, "rating": 4.5, "mobile_url": "http://m.yelp.com/biz/gotham-bar-and-grill-new-york",
        "rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 864, "name": "Gotham Bar And Grill", "snippet_image_url":
        "http://s3-media1.fl.yelpcdn.com/photo/wuMoMwknUPKem2fAjOvxDA/ms.jpg", "rating_img_url_small":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/i[...]
